[ req ]
default_bits       = 4096
default_md         = sha256
default_keyfile    = instance.key
prompt             = no
encrypt_key        = no
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName            = "US"
stateOrProvinceName    = "CA"
organizationName       = "Cloud Foundry"
organizationalUnitName = "organization:34a878d0-c2f9-4521-ba73-a9f664e82c7bf"
0.organizationalUnitName = "app:2d3e834a-3a25-4591-974c-fa5626d5d0a1"
1.organizationalUnitName = "space:3d2eba6b-ef19-44d5-91dd-1975b0db5cc9"
commonName             = "1bf2e7f6-2d1d-41ec-501c-c70"

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS   = f9c7cd7d-1612-4f57-63a8-f995
IP = 10.255.181.105